body{
    
    
    background: linear-gradient(135deg,#fbcdc4,#e04848);

   
}

.card{
    border: none;
    border-radius:16px;
    box-shadow:0 12px 35px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(6px);
}

.card:hover{
    transform: scale(1.02);
    transition: 0.2s;
    
}

.ingredients-card{
    transition: all 0.25s ease;
    cursor: pointer;
}

.ingredients-card:hover{
   transform: translateY(-5px);
   box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.ingredient-img{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:12px;
  margin:auto;
  display:block;
  
}

.section-title{
font-weight:600;
margin-top:30px;
margin-bottom:15px;
color:#333;
border-left:4px solid #ff4d4d;
padding-left:10px;
}

.title{
  font-weight:600;
  margin-top:30px;
  margin-bottom:15px;
  color:#333;
  padding-left:10px;
}
.dashboard-bg{
  background-image: url("/pizza1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
/* min-height:100vh; */
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dashboard-overlay{
  padding:40px;
  border-radius:12px;
  max-width:550px;
  width:90%;
  background: rgba(255,255,255,0.92);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

.app-container{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.main-content{
  flex:1;
}

/* Mobile responsive */

@media (max-width: 768px) {

  .pizza-card-col{
    width: 50%;
  }

}